$base-font: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif !default;
$header-font: 'Maiden Orange', Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif !default;
$accent-font: 'Kaushan Script', "Brush Script MT", cursive !default;

@mixin header-font($size) {
	font: {
		family: $header-font;
		weight: normal;
	}
	font-size: $font-unit * $size / $base-font-size;

	$font-vertical-adjust: 0.25em; // fix for maiden orange which renders a bit unevenly
	line-height: rhythm(lines-for-font-size($size), $size) - $font-vertical-adjust;
    padding-top: $font-vertical-adjust;
    // todo: add fallback with even rhythm and smaller font size for `.no-webfonts &`
}

@mixin header($size) {
	@include header-font($size);
    @include margin-leader(0.5, $size);
    @include margin-trailer(0.5, $size);
}
