$base-font: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif !default;
$header-font: 'Maiden Orange', sans-serif !default;
$accent-font: 'Kaushan Script', cursive !default;

@mixin header-font($size) {
	font-family: $header-font;
    @include adjust-font-size-to($size);
    @include rhythm(1, 0, 0, 0.5, $size);
    // todo: add fallback with even rhythm and smaller font size for `.no-webfonts &`
}
