$base-font: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif !default;
$header-font: 'Maiden Orange', Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif !default;
$accent-font: 'Kaushan Script', $base-font !default;
$monospace-font: "Courier New", Courier, monospace !default;

@mixin header-font($font-size) {
	font-family: $header-font;
	@include adjust-font-size-to($font-size);

    .fontface & {
    	// Maiden Orange only comes in 400 so prevent browser trying to fake a bold weight
		font-weight: normal;

		// fix for Maiden Orange which renders a bit unevenly
		$font-vertical-adjust: 0.25em;
    	margin-bottom: -$font-vertical-adjust;
    }
}

@mixin header($size) {
	@include header-font($size);
    @include margin-leader(0.5, $size);
    @include margin-trailer(0.5, $size);
}
