@mixin googie($background-color, $expand: 0%) {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 0 - ($expand / 2);
		left: 0 - ($expand / 2);
		width: 100% + $expand;
		height: 100% + $expand;
		z-index: -1;

		background-color: $background-color;
	}
}
