@mixin link-colors($inactive-color, $inactive-border, $active-color, $active-border) {
	&, &:visited {
		color: $inactive-color;
		border-color: $inactive-border;
	}
	&:hover, &:active, &:focus {
		color: $active-color;
		border-color: $active-border;
	}
}

a {
	@include link-colors($link-text, $link-border, $link-highlight-text, $link-highlight-border);
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	@include single-transition(all, 0.1s, linear, 0);

	&:hover, &:active, &:focus {
		border-bottom-width: 3px;
	}
}

a[rel~=tag]:before {
  content: '#';
}

#site-nav a {
	border-bottom: 0;
}
