@mixin inactive-link {
	&, &:visited {
		@content;
	}	
}

@mixin active-link {
	&:hover, &:active, &:focus {
		@content;
	}	
}

a {
	@include link-colors($link-text, $link-highlight-text);
	@include single-transition(all, 0.1s, linear, 0);
	text-decoration: none;
}

a[rel~=tag]:before {
  content: '#';
}

#site-nav a {
	border-bottom: 0;
}
