@mixin colored-bullets($bullet-color) {
	list-style: none;

	&:before {
		content: '\2022';
		display: inline-block;
		position: relative;
		left: -0.95em;
		color: #aaa;
		font-size: 2em;
		line-height: 0;
		vertical-align: middle;
		width: 0;
	}
}
