// color palette
$black: #222;
$red: #99383a;
$yellow: #e0b684;
$brown: #ac826a;
$blue: #6f7d91;
$gray: #c0c0c0;
$white: #e0e0e0;

// palette applied to elements
$body-background: $blue;
$body-text: $black;

$link-text: inherit;
$link-border: $gray;
$link-highlight-text: black;
$link-highlight-border: $red;

$logo-text-1: $yellow;
$logo-text-2: $brown;

$header-background: $black;
$header-text: $white;
$header-border: $red;

$nav-background: $red;
$nav-link-text: $brown;
$nav-link-highlight-text: $yellow;

$footer-background: $black;
$footer-text: $blue;
$footer-border: $red;
$footer-link-text: $blue;
$footer-link-border: $blue;
$footer-link-highlight-text: $white;
$footer-link-highlight-border: $white;

$sidebar-background: $black;
$sidebar-text: $blue;
$sidebar-heading: $yellow;
$sidebar-border: $red;
$sidebar-link-text: $blue;
$sidebar-link-highlight-text: $white;
$sidebar-link-border: darken($blue, 25%);
$sidebar-link-highlight-border: $red;

$post-title-link-highlight-color: $red;

$post-body-background: $white;
$post-body-text: $black;

$post-footer-background: $black;
$post-footer-text: $blue;
$post-footer-link-text: inherit;
$post-footer-link-border: darken($blue, 25%);
$post-footer-link-highlight-text: $white;
$post-footer-link-highlight-border: $red;

$pagination-link-background: $black;
$pagination-link-highlight-background: $red;
$pagination-link-text: $brown;
$pagination-link-highlight-text: $yellow;
$pagination-disabled-text: $gray;

$shadow-color: transparentize($black, 0.5) !default;
$border-color: $gray;

$code-block-background: lighten($white, 6.5%);
