// Based on...
// Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template

@mixin respond-to($min-width) {
    @media only screen and (min-width: $min-width) {
        @content;
    }
}

@mixin wrapper {
    width: percentage($page-width);
    margin: 0 percentage($page-gutter);
    @include respond-to($breakpoint-maximal) {
        width: $breakpoint-maximal * $page-width; // 1026px
        margin: 0 auto;
    }
}

body {
    font: #{$base-font-size}/#{$base-leading} $base-font-family;
}

// layout

#site-header,
#posts {
    @include clearfix;
}

#site-header,
#posts,
#site-footer {
    @include wrapper;
}

// Orange Theme

.header-container {
    border-bottom: $small-gutter solid $theme-border;
}

.footer-container,
.sidebar {
    border-top: $small-gutter solid $theme-border;
}

.header-container,
.footer-container,
.sidebar {
    background: $theme-background;
}

.title {
    color: white;

    @include respond-to($breakpoint-wide) {
        float: left;
    }
}

@include respond-to($breakpoint-wide) {
    .header-container,
    .sidebar {
        @include box-shadow(0 5px 10px $divider-color);
    }
}

// Menu

#site-nav {
    @include respond-to($breakpoint-wide) {
        float: right;
        width: $sidebar-width;
    }

    a {
        display: block;
        margin-bottom: 10px;
        padding: 15px 0;

        text-align: center;
        text-decoration: none;
        font-weight: bold;

        color: white;
        background: $theme-border;

        &:hover,
        &:visited {
            color: white;
        }

        &:hover {
            text-decoration: underline;
        }

        @include respond-to($breakpoint-intermediate) {
            float: left;
            width: 31%;
            margin: 0 1.7%;
            padding: 25px 2%;
            margin-bottom: 0;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

}

// Posts

#posts {
    padding: $large-gutter 0;

    .post {
        h1 {
            font-size: 2em;
        }
    }

    .sidebar {
        color: white;
        padding: 0px 5% 10px;
    }

    @include respond-to($breakpoint-wide) {
        position: relative;

        .post {
            width: 100% - $sidebar-width - percentage($page-gutter);
        }

        .sidebar {
            position: absolute;
            top: $large-gutter;
            right: 0;
            width: $sidebar-width;
        }
    }

}

#site-footer {
    color: white;
    padding: $small-gutter 0;
}

// IE Fixes

.ie7 .title {
    padding-top: $small-gutter;
}

@include respond-to($breakpoint-intermediate) {
    .oldie #site-nav a {
        margin: 0 0.7%;
    }
}
