// Based on: http://verekia.com/initializr/responsive-template

@mixin wrapper {
    width: percentage($page-width);
    margin: 0 percentage($page-gutter);
    @include respond-to($breakpoint-maximal) {
        width: $breakpoint-maximal * $page-width; // 1026px
        margin: 0 auto;
    }
}

// layout

#site-header,
#posts {
    @include clearfix;
}

#site-header,
#posts,
#site-footer {
    @include wrapper;
}

// Orange Theme

.header-container {
    // background-image: $banner-image;
    // background-size: initial;
    background-color: $header-background;
    border-bottom: $small-gutter solid $header-border;
}

.footer-container {
    background-color: $footer-background;
    border-top: $small-gutter solid $footer-border;
    color: $footer-text;
}

.sidebar {
    background-color: $sidebar-background;
    border-top: $small-gutter solid $sidebar-border;
    color: $sidebar-text;

    a {
        @include link-colors($sidebar-link-text, $sidebar-link-highlight-text, $sidebar-link-border, $sidebar-link-highlight-border);
    }

    strong {
        display: block;
        color: $sidebar-heading;
    }

    cite {
        display: block;
        @include adjust-font-size-to(14px);
        &:before {
            content: '[';
        }
        &:after {
            content: ']';
        }
    }
}

.title {
    color: $header-text;
    @include adjust-font-size-to(38px);
    @include rhythm(1, 0, 0, 1, 38px);

    @include respond-to($breakpoint-wide) {
        float: left;
    }
}

.header-container,
.sidebar,
.post {
    @include respond-to($breakpoint-wide) {
        @include box-shadow(0 5px 10px $shadow-color);
    }
}

// Menu

#site-header {
    position: relative;
}

#site-nav {
    @include respond-to($breakpoint-wide) {
        position: absolute;
        bottom: 0;
        right: 0;
        width: $sidebar-width;
    }

    a {
        display: block;

        @include rhythm(1, 1.5, 1.5, 1);

        text-align: center;
        text-decoration: none;
        font-weight: bold;

        background-color: $header-border;
        @include link-colors($header-link-text, $header-link-highlight-text);

        @include respond-to($breakpoint-intermediate) {
            float: left;
            width: 31%;
            margin: 0 1.7%;
            padding: rhythm(1) 2%;
            margin-bottom: 0;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

}

// Posts

#posts {
    @include rhythm(0, 2, 2, 0);

    .sidebar {
        padding: 0px 5% 10px;
    }

    @include respond-to($breakpoint-wide) {
        position: relative;

        .post {
            width: 100% - $sidebar-width - percentage($page-gutter);
        }

        .sidebar {
            position: absolute;
            top: rhythm(2);
            right: 0;
            width: $sidebar-width;
        }
    }

}

#site-footer {
    padding: $small-gutter 0;
}

// IE Fixes

.ie7 .title {
    padding-top: $small-gutter;
}

@include respond-to($breakpoint-intermediate) {
    .oldie #site-nav a {
        margin: 0 0.7%;
    }
}
