@mixin circle($diameter) {
	width: $diameter;
	height: $diameter;
	line-height: $diameter;
	border-radius: $diameter / 2;
}

.pagination {
	margin-top: rhythm(2);

	text-align: center;

	font-family: $accent-font;
	@include adjust-font-size-to(24px);

	a {
		display: inline-block;
		@include circle(rhythm(2, 24px));
		@include transition(background 0.1s linear, color 0.1s linear);

		border-width: 0;

		@include inactive-link {
			color: $pagination-link-text;
			background: $pagination-link-background;
		}

		@include active-link {
			color: $pagination-link-highlight-text;
			background: $pagination-link-highlight-background;
		}

		&.current {
			@include inactive-link {
				color: $pagination-disabled-text;
			}
			@include active-link {
				color: $pagination-disabled-text;
			}
			pointer-events: none;
			cursor: not-allowed;
		}
	}
}
