.post footer {
	@include adjust-font-size-to(12px);
	@include rhythm(1, 1, 1, 0);
	padding-left: rhythm(1);
	padding-right: rhythm(1);
	background-color: $post-footer-background;
	color: $post-footer-text;

	a {
		@include link-colors($post-footer-link-text, $post-footer-link-highlight-text, $post-footer-link-border, $post-footer-link-highlight-border);
	}
}

.posted-at, .tags, .content-source {
	display: block;
	@include rhythm(0.5, 0, 0, 0.5, 12px);

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

ul.tags {
	// not using Compass' delimited-list mixin as it removes margins from the ul itself
	list-style-type: none;
	padding-left: 0;
	li {
		display: inline;
    	&:after {
    		content: ', ';
    	}
    	&:last-child {
      		&:after {
        		content: '';
        	}
        }
    	&.last {
      		&:after {
        		content: '';
        	}
        }
    }
}

.content-source {
	strong:after {
		content: ':';
	}
}
