.posted-at {
	display: block;
	margin: 1em 0;
}

ul.tags {
	list-style: none;
	padding: 0;

	li {
		display: inline;

		&:after {
			content: ',';
		}

		&:last-child:after {
			content: none;
		}
	}
}

.content-source {
	strong:after {
		content: ':';
	}
}
