.post footer {
	@include adjust-font-size-to(12px);
	@include rhythm(1, 1, 1, 0);
	padding-left: rhythm(1);
	padding-right: rhythm(1);
	background-color: darkgray;
}

.posted-at, .tags, .content-source {
	display: block;
	@include rhythm(0.5, 0, 0, 0.5, 12px);

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

ul.tags {
	@include delimited-list;
}

.content-source {
	strong:after {
		content: ':';
	}
}
