.post {
	// force the article to contain the margins of its content http://reference.sitepoint.com/css/collapsingmargins
	overflow: hidden;

	margin-top: rhythm(2);
	margin-bottom: rhythm(2);

	@include googie($post-body-background);

	&:first-child {
		margin-top: 0;
	}

	&:last-of-type {
		margin-bottom: 0;
		border-bottom: 0;
	}

	header, .post-body, figure, ul.conversation {
		@include rhythm(1, 0, 0, 1);
		margin-left: 1em;
		margin-right: 1em;
	}

	header h1 {
		$size: 48px;
		@include header($size);
	}

	figcaption {
		@include rhythm(1, 0, 0, 1);
	}

	a {
        @include inactive-link {
            color: $link-text;
            border-bottom: 1px solid $link-border;
        }
        @include active-link {
            color: $link-highlight-text;
            border-bottom: 3px solid $link-highlight-border;
        }
	}

	img {
		display: block;
		margin: rhythm(0.5) auto rhythm(1);
		max-width: 100%;
	}

	pre {
		background-color: $code-block-background;
		padding: rhythm(0.5);

		@include single-box-shadow(transparentize(black, 0.6), 0, 0, 3px, 0, true);
		.no-boxshadow & {
			border: 1px solid $border-color;
		}
	}
}

.post-body {
	> * {
		@include rhythm(1, 0, 0, 1);
	}

	$list-and-bq-indent: 30px;

	ul {
		padding-left: $list-and-bq-indent;
	}

	blockquote {
		$border-width: 3px;
		margin-left: 0;
		border-left: $border-width solid $border-color;
		padding-left: $list-and-bq-indent - $border-width;
	}

	h2 {
		@include header(38px);
	}

	h3 {
		@include header(32px);
	}
}

.post .photo {
	background-color: white;
	@include rhythm(1, 1, 1, 1);
	padding-left: rhythm(1);
	padding-right: rhythm(1);
	@include box-shadow(0 1px 3px rgba(0, 0, 0, 0.25));
	@include border-radius(2px);
	@include transform(rotate(-1deg));
	@include backface-visibility(hidden);

	img {
		max-width: 100%;
		vertical-align: middle;
	}
}

.quote {
	blockquote {
		font-family: $accent-font;
		@include adjust-font-size-to(32px);
		@include adjust-leading-to(2/3);
		@include rhythm(1, 0, 0, 1, 32px);
		margin-left: 0;
		margin-right: 0;
		padding-left: 1.5em;
		border-left: 0;
		position: relative;

		&:before {
			content: '\201c';
			font-family: $header-font;
			color: $border-color;
			font-size: 5em;
			line-height: 1;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	figcaption:before {
		content: '\2014\a0';
	}
}

@mixin border-arrow($tail-width: 9px, $arrowhead-size: 35px, $inactive-color: $border-color, $active-color: $link-highlight-border) {
	position: relative;
	display: block;
	margin-right: $arrowhead-size;
	border-bottom-width: $tail-width;
	border-bottom-style: dotted;

	@include inactive-link {
		border-bottom: $tail-width dotted $inactive-color;
	}

	&:after {
		content: '';

		width: 0;
		height: 0;

		position: absolute;
		right: ($arrowhead-size * -1) + ($tail-width / 2);
		bottom: (($tail-width / 2) + ($arrowhead-size / 2)) * -1;

		border: $arrowhead-size / 2 solid transparent;
		border-left-color: $inactive-color;
	}

	@include active-link {
		border-bottom: $tail-width dotted $active-color;

		&:after {
			border-left-color: $active-color;
		}
	}
}

.link {
	h1 {
		$size: 38px;
		@include header($size);

		a, a:visited {
			@include border-arrow;
		}
	}
}

ul.conversation {
	list-style: none;
	padding: 0;
}

.read_more {
	font-family: $accent-font;
}
