.post {
	overflow: hidden; // force the article to contain the margins of its content http://reference.sitepoint.com/css/collapsingmargins
	margin-top: rhythm(2);
	margin-bottom: rhythm(2);

	@include googie($article-background);

	&:first-child {
		margin-top: 0;
	}

	&:last-of-type {
		margin-bottom: 0;
		border-bottom: 0;
	}

	header, .post-body, figure, ul.conversation {
		@include rhythm(1, 0, 0, 1);
		margin-left: 1em;
		margin-right: 1em;
	}

	header h1 {
		@include adjust-font-size-to(32px);
		@include rhythm(1, 0, 0, 1, 32px);
	}

	.post-body {
		> * {
			@include rhythm(1, 0, 0, 1);
		}

		ul {
			padding-left: $large-gutter;
		}

		blockquote {
			margin-left: 0;
			border-left: 3px solid $divider-color;
			padding-left: $large-gutter - 3px;
		}
	}

	figcaption {
		@include rhythm(1, 0, 0, 1);
	}
}

.post .photo {
	background-color: white;
	@include rhythm(1, 1, 1, 1);
	padding-left: rhythm(1);
	padding-right: rhythm(1);
	@include box-shadow(0 0 4px $divider-color);
	@include border-radius(2px);
	@include transform(rotate(-1deg));
	@include backface-visibility(hidden);

	img {
		max-width: 100%;
	}
}

.quote {
	blockquote {
		@include adjust-font-size-to(32px);
		@include adjust-leading-to(2/3);
		@include rhythm(1, 0, 0, 1, 32px);
		margin-left: $large-gutter;
		margin-right: $large-gutter;
		border-left: 0;
		padding-left: 0;
		position: relative;

		&:before, &:after {
			font-size: 2em;
			line-height: 1;
			position: absolute;
			top: 0;
		}

		&:before {
			content: '\201c';
			left: -32px;
		}

		&:after {
			content: '\201d';
			right: -32px;
		}
	}

	figcaption:before {
		content: '\2014\a0';
	}
}

.link {
	h1 {
		@include adjust-font-size-to(24px);
		@include rhythm(1, 0, 0, 1, 24px);

		&:after {
			content: '\21e2';
			font-size: 3em;
			color: $divider-color;
			vertical-align: middle;
		}
	}
}

ul.conversation {
	list-style: none;
	padding: 0;
}
